*{
    padding: 0;
    margin: 0;
}
#game{
    width: 500px;
    height: 200px;
    border : 1px solid black;
}
#character{
    width : 50px;
    height: 50px;
    background :url('./dinosaur.png');
    position: relative;
    top : 150px;
    
}
.animate{
    animation: jump 500ms;
}
#block{
    width: 50px;
    height: 40px;
    background : url("./fire.png");
    position: relative;
    top: 110px;
    left: 0px;
    animation: block 1s infinite linear;
}

#cloud{
    width : 50px;
    height: 40px;
    background: url("./cloud.png");
    position: relative;
    top: 1px;
    left: 100px;
    
    animation: cloud 4s infinite linear;
}

@keyframes cloud{
    0%{left : 480px;}
    100%{left:-40px;}
}

@keyframes jump{
    0%{top: 150px;}
    30%{top:100px;}
    70%{top:100px;}
    100%{top: 150px;}

}
@keyframes block{
    0%{left: 480px;}
    100%{left:-40px}

}